@-webkit-keyframes menu-saffiche {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes menu-saffiche {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes loading {
  0% {
    z-index: 2;
  }
  95% {
    opacity: 1;
  }
  99% {
    z-index: 2;
    opacity: 0.2;
  }
  100% {
    z-index: -55;
    opacity: 0;
  }
}
@keyframes loading {
  0% {
    z-index: 2;
  }
  95% {
    opacity: 1;
  }
  99% {
    z-index: 2;
    opacity: 0.2;
  }
  100% {
    z-index: -55;
    opacity: 0;
  }
}
@-webkit-keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
body {
  font-family: "Roboto", sans-serif;
  line-height: initial;
}

.load {
  background: #F6F6F6;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: loading 2500ms linear both;
          animation: loading 2500ms linear both;
}
.load__box {
  position: relative;
  width: 50px;
  height: 50px;
  border: 5px solid #9356DC;
  border-radius: 100%;
  -webkit-animation: spin 1300ms linear 3;
          animation: spin 1300ms linear 3;
}
.load__box--ring {
  position: absolute;
  height: 50px;
  width: 20px;
  left: 15px;
  top: 0px;
}
.load__box--spinner {
  position: absolute;
  height: 20px;
  width: 20px;
  top: -15px;
  left: 0px;
  background: #9356DC;
  border-radius: 100%;
}

header [alt], footer h4, .menu h1 {
  font-family: "Shrikhand", cursive;
}

header [alt] {
  font-size: xx-large;
}

header {
  display: flex;
  justify-content: center;
  position: relative;
  box-shadow: 0px 1px 10px -3px black;
}
header img {
  padding: 15px;
}
header .retour {
  display: flex;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 10%;
  left: 5%;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  color: black;
}

a {
  text-decoration: none;
}

.bouton {
  height: 50px;
  display: flex;
  align-items: center;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  padding: 0px 20px;
  margin: 20px;
  border-radius: 25px;
  box-shadow: 2px 2px 15px -6px black;
  border: none;
  justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
  transition: all 200ms;
  opacity: 1;
}
.bouton:hover {
  opacity: 0.7;
  box-shadow: 2px 2px 15px 0px black;
}

main {
  display: flex;
  flex-direction: column;
}

.img-restaurant {
  width: 100%;
  height: 220px;
}
.img-restaurant img {
  width: 100%;
  height: 125%;
  -o-object-fit: cover;
     object-fit: cover;
}

.info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.localisation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F6F6F6;
  padding-bottom: 30px;
}
.localisation__btn {
  width: 100%;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  gap: 15px;
  border: none;
  padding-right: 8%;
  cursor: pointer;
}
.localisation h1 {
  font-size: 25px;
  margin: 0;
  padding: 35px 10% 5px 10%;
}
.localisation h4 {
  margin: 0;
  padding: 10px 10%;
  font-weight: normal;
}

.intro {
  display: flex;
  flex-direction: column;
  margin: 20px 5%;
  width: 100%;
  max-width: 350px;
}
.intro__instruction {
  background: #F6F6F6;
  display: flex;
  height: 65px;
  align-items: center;
  gap: 10px;
  position: relative;
  border-radius: 15px;
  box-shadow: 5px 5px 15px -12px black;
  padding-left: 22%;
  margin: 10px;
}
.intro__instruction span {
  position: absolute;
  top: 17px;
  left: -12px;
  background: #9356DC;
  color: white;
  padding: 5px 10px;
  border-radius: 25px;
}
.intro__instruction .fas {
  position: absolute;
  top: 35%;
  left: 12%;
}
.intro__instruction--couleur {
  background: #f2eafb;
}

.restaurants {
  width: 100%;
  background: #F6F6F6;
  padding: 20px 5% 30px 5%;
  box-sizing: border-box;
}
.restaurants h2 {
  margin: 25px 0;
  width: 100%;
}
.restaurants div {
  width: 100%;
  position: relative;
  max-height: 350px;
  margin-bottom: 25px;
}
.restaurants__card {
  display: block;
  width: 100%;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 5px 5px 15px -10px black;
  color: black;
}
.restaurants__card img {
  width: 100%;
  height: 160px;
  margin-bottom: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants__card .nouveau {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #99E2D0;
  padding: 5px 10px;
  color: #1b6150;
  margin: 0;
}
.restaurants__card h3 {
  margin: 5px 15px;
}
.restaurants__card p {
  margin: 5px 15px 15px 15px;
}
.restaurants .jaime {
  position: absolute;
  height: 32px;
  width: 32px;
  bottom: 25px;
  right: 20px;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0;
}
.restaurants .jaime .far {
  position: absolute;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.restaurants .jaime .fas {
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  transform: scale(0);
  transition: transform 400ms;
}
.restaurants .jaime:hover .fas {
  transform: scale(1);
}

.menu {
  display: flex;
  flex-direction: column;
  background: #F6F6F6;
  border-radius: 50px 50px 0 0;
  padding: 30px 5% 50px 5%;
  position: relative;
  gap: 10px;
}
.menu h1 {
  margin: 10px 0;
  font-size: 27px;
  font-weight: normal;
}
.menu .jaime {
  position: absolute;
  height: 32px;
  width: 32px;
  top: 42px;
  right: 30px;
  border: 0;
  background: none;
  cursor: pointer;
}
.menu .jaime .far {
  position: absolute;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.menu .jaime .fas {
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  transform: scale(0);
  transition: transform 400ms;
}
.menu .jaime:hover .fas {
  transform: scale(1);
}
.menu .bouton {
  margin-top: 30px;
  padding: 0 45px;
  cursor: pointer;
}

.grille {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
}
.grille__selection {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.grille__selection h3 {
  width: 45px;
  padding-bottom: 5px;
  margin: 15px 0;
  font-weight: normal;
  border-bottom: 3px solid #99E2D0;
}
.grille__selection .btn {
  width: 100%;
  position: relative;
  height: 60px;
  background: white;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-evenly;
  border: none;
  overflow: hidden;
  padding: 0 15px;
  box-shadow: 5px 5px 15px -12px black;
  border-radius: 15px;
  margin: 8px 0;
  cursor: pointer;
  transition: all 600ms ease-in-out;
  -webkit-animation: menu-saffiche 1500ms both;
          animation: menu-saffiche 1500ms both;
}
.grille__selection .btn--1 {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}
.grille__selection .btn--2 {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
.grille__selection .btn--3 {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}
.grille__selection .btn--4 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}
.grille__selection .btn:hover {
  padding-right: 70px;
}
.grille__selection .btn h2 {
  margin: 5px 0 0 0;
  font-size: initial;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.grille__selection .btn div {
  display: flex;
  height: 20px;
  justify-content: space-between;
  width: 100%;
}
.grille__selection .btn p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 15px;
}
.grille__selection .btn .prix {
  overflow: visible;
}
.grille__selection .btn .check {
  position: absolute;
  top: 0px;
  right: -55px;
  background: #99E2D0;
  color: white;
  height: 60px;
  width: 55px;
  align-items: center;
  justify-content: center;
  transition: all 500ms ease-in-out;
}
.grille__selection .btn .check .fas {
  transform: rotate(-2turn);
  transition: transform 600ms ease-in-out;
  font-size: larger;
}
.grille__selection .btn:hover .check {
  transform: translateX(-55px);
}
.grille__selection .btn:hover .check .fas {
  transform: rotate(0turn);
}

footer {
  width: 100%;
  background: #353535;
  color: white;
  box-sizing: border-box;
  padding: 5px 7% 15px 7%;
}
footer h4 {
  font-weight: normal;
  font-size: larger;
  margin: 15px 0px;
}
footer p {
  margin: 10px 0;
}
footer .fas {
  margin-right: 5px;
  width: 20px;
}
footer a {
  color: white;
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .localisation {
    width: 50%;
  }

  .intro {
    width: 50%;
    max-width: 500px;
    margin: 0;
    padding: 2%;
    box-sizing: border-box;
  }

  .restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .restaurants div {
    width: 48%;
  }

  .img-restaurant {
    height: 350px;
  }

  .menu .jaime {
    right: 5%;
  }

  .grille__selection {
    width: 48%;
  }
}
@media screen and (min-width: 993px) {
  .intro {
    max-width: 400px;
  }

  .restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .restaurants div {
    width: 22%;
    max-height: 400px;
    height: 380px;
  }
  .restaurants div img {
    height: 300px;
  }

  .img-restaurant {
    height: 400px;
  }
  .img-restaurant img {
    height: 112%;
  }

  .menu .jaime {
    right: 5%;
  }

  .grille__selection {
    width: 32%;
  }
}