//#region Variables //
$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;


//#endregion Variables //

body {
    color: blue;
    // font-family: 'Roboto', sans-serif;
    // font-family: 'Shrikhand', cursive;
}