//#region Variables //
@import "./variables";

//#endregion Variables //

//#region Animations //
@keyframes menu-saffiche {
    0% {
        transform: translateY(15px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes loading {
    0% {
        z-index: 2;
    }
    95% {
        opacity: 1;
    }
    99% {
        z-index: 2;
        opacity: 0.2;
    }
    100% {
        z-index: -55;
        opacity: 0;
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg)
    }
}

//#endregion Animations //

//#region General //
body {
    font-family: 'Roboto', sans-serif;
    line-height: initial;
}

.load {
    background: $gris-clair;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loading 2500ms linear both;
    &__box {
        position: relative;
        width: 50px;
        height: 50px;
        border: 5px solid $couleur-primaire;
        border-radius: 100%;
        animation: spin 1300ms linear 3;
        &--ring {
            position: absolute;
            height: 50px;
            width: 20px;
            left: 15px;
            top: 0px;
        }
        &--spinner {
            position: absolute;
            height: 20px;
            width: 20px;
            top: -15px;
            left: 0px;
            background: $couleur-primaire;
            border-radius: 100%;
        }
    }
}

header [alt], footer h4, .menu h1 {
    font-family: 'Shrikhand', cursive;
}

header [alt] {
    font-size: xx-large;
}

header {
    display: flex;
    justify-content: center;
    position: relative;
    box-shadow: 0px 1px 10px -3px black;
    & img {
        padding: 15px;
        width: 175px;
    }
    & .retour {
        display: flex;
        height: 50px;
        width: 50px;
        position: absolute;
        top: 10%;
        left: 5%;
        justify-content: center;
        align-items: center;
        font-size: x-large;
        color: black;
    }
}

a {
    text-decoration: none;
}

.bouton {
    height: 50px;
    display: flex;
    align-items: center;
    background: linear-gradient($couleur-secondaire, $couleur-primaire);
    color: white;
    padding: 0px 20px;
    margin: 20px;
    border-radius: 25px;
    box-shadow: 2px 2px 15px -6px black;
    border: none;
    justify-content: center;
    width: fit-content;
    align-self: center;
    transition: all 200ms;
    opacity: 1;
    &:hover {
        opacity: 0.8;
        box-shadow: 2px 2px 10px -1px black;
    }
}

main {
    display: flex;
    flex-direction: column;
}

.img-restaurant {
    width: 100%;
    height: 220px;
    & img {
        width: 100%;
        height: 125%;
        object-fit: cover;
    }
}

//#endregion General //

//#region Info //
.info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.localisation {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $gris-clair;
    padding-bottom: 30px;
    &__btn {
        width: 100%;
        background-color: $gris-sombre;
        display: flex;
        justify-content: center;
        height: 50px;
        align-items: center;
        gap: 15px;
        border: none;
        padding-right: 8%;
        cursor: pointer;
    }
    & h1 {
        font-size: 25px;
        margin: 0;
        padding: 35px 10% 5px 10%;
    }
    & h4 {
        margin: 0;
        padding: 10px 10%;
        font-weight: normal;
    }
}

.intro {
    display: flex;
    flex-direction: column;
    margin: 20px 5%;
    width: 100%;
    max-width: 350px;
    &__instruction {
        background: $gris-clair;
        display: flex;
        height: 65px;
        align-items: center;
        gap: 10px;
        position: relative;
        border-radius: 15px;
        box-shadow: 5px 5px 15px -12px black;
        padding-left: 22%;
        margin: 10px;
        & span {
            position: absolute;
            top: 17px;
            left: -12px;
            background: $couleur-primaire;
            color: white;
            padding: 5px 10px;
            border-radius: 25px;
        }
        & .fas {
            position: absolute;
            top: 35%;
            left: 12%;
        }
        & .i-gris {
            color: #7e7e7e;
        }
        & .i-violet {
            color: $couleur-primaire;
        }
        &--couleur {
            background: lighten($color: $couleur-primaire, $amount: 35%);
        }
    }
}

//#endregion Info //

//#region Restaurants //
.restaurants {
    width: 100%;
    background: $gris-clair;
    padding: 20px 5% 30px 5%;
    box-sizing: border-box;
    & h2 {
        margin: 25px 0;
        width: 100%;
    }
    & div {
        width: 100%;
        position: relative;
        max-height: 350px;
        margin-bottom: 25px;
    }
    &__card {
        display: block;
        width: 100%;
        background: white;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 5px 5px 15px -10px black;
        color: black;
        & img {
            width: 100%;
            height: 160px;
            margin-bottom: 10px;
            object-fit: cover;
        }
        & .nouveau {
            position: absolute;
            top: 15px;
            right: 15px;
            background: $couleur-tertiaire;
            padding: 5px 10px;
            color: darken($color: $couleur-tertiaire, $amount: 50);
            margin: 0;
        }
        & h3 {
            margin: 5px 15px;
        }
        & p {
            margin: 5px 15px 15px 15px;
        }
        
    }
    & .jaime {
        position: absolute;
        height: 32px;
        width: 32px;
        bottom: 25px;
        right: 20px;
        border: 0;
        background: none;
        cursor: pointer;
        padding: 0;
        & .far {
            position: absolute;
            background: linear-gradient($couleur-primaire, $couleur-secondaire);
            background-clip: text;
            color: transparent;
        }
        & .fas {
            background: linear-gradient($couleur-primaire, $couleur-secondaire);
            background-clip: text;
            color: transparent;
            transform: scale(0);
            transition: transform 400ms;
        }
        &:hover .fas {
            transform: scale(1);
        }
    }
}

//#endregion Restaurants //

//#region Menu //
.menu {
    display: flex;
    flex-direction: column;
    background: $gris-clair;
    border-radius: 50px 50px 0 0;
    padding: 30px 5% 50px 5%;
    position: relative;
    gap: 10px;
    & h1 {
        margin: 10px 0;
        font-size: 27px;
        font-weight: normal;
    }
    & .jaime {
        position: absolute;
        height: 32px;
        width: 32px;
        top: 42px;
        right: 30px;
        border: 0;
        background: none;
        cursor: pointer;
        & .far {
            position: absolute;
            background: linear-gradient($couleur-primaire, $couleur-secondaire);
            background-clip: text;
            color: transparent;
        }
        & .fas {
            background: linear-gradient($couleur-primaire, $couleur-secondaire);
            background-clip: text;
            color: transparent;
            transform: scale(0);
            transition: transform 400ms;
        }
        &:hover .fas {
            transform: scale(1);
        }
    }
    & .bouton {
        margin-top: 30px;
        padding: 0 45px;
        cursor: pointer;
    }
}

.grille {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    &__selection {
        display: flex;
        flex-direction: column;
        width: 100%;
        & h3 {
            width: 45px;
            padding-bottom: 5px;
            margin: 15px 0;
            font-weight: normal;
            border-bottom: 3px solid $couleur-tertiaire;
        }
        & .btn {
            width: 100%;
            position: relative;
            height: 60px;
            background: white;
            display: flex;
            flex-direction: column;
            text-align: left;
            justify-content: space-evenly;
            border: none;
            overflow: hidden;
            padding: 0 15px;
            box-shadow: 5px 5px 15px -12px black;
            border-radius: 15px;
            margin: 8px 0;
            cursor: pointer;
            transition: all 600ms ease-in-out;
            animation: menu-saffiche $menu-aff-dur both;
            @for $i from 1 through 4 {
                &--#{$i} {
                    animation-delay: $menu-aff-del * $i;
                }
            }
            &:hover {
                padding-right: 70px;
            }
            & h2 {
                margin: 5px 0 0 0;
                font-size: initial;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 100%;
            }
            & div {
                display: flex;
                height: 20px;
                justify-content: space-between;
                width: 100%;
            }
            & p {
                margin: 0;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-size: 15px;
            }
            & .prix {
                overflow: visible;
            }
            & .check {
                position: absolute;
                top: 0px;
                right: -55px;
                background: $couleur-tertiaire;
                color: white;
                height: 60px;
                width: 55px;
                align-items: center;
                justify-content: center;
                transition: all 500ms ease-in-out;
                
                & .fas {
                    transform: rotate(-2turn);
                    transition: transform 600ms ease-in-out;
                    font-size: larger;
                }
            }
            &:hover .check {
                transform: translateX(-55px);
                & .fas {
                    transform: rotate(0turn);
                }
            }
        }
    }
}


//#endregion Menu //

//#region Footer //
footer {
    width: 100%;
    background: #353535;
    color: white;
    box-sizing: border-box;
    padding: 5px 7% 15px 7%;
    & h4 {
        font-weight: normal;
        font-size: larger;
        margin: 15px 0px;
    }
    & p {
        margin: 10px 0;
    }
    & .fas {
        margin-right: 5px;
        width: 20px;
    }
    & a {
        color: white;
    }
}


//#endregion Footer //

//#region Tablette //
@media screen and (min-width: 769px) and (max-width: 992px) {
    .localisation {
        width: 50%;
    }

    .intro {
        width: 50%;
        max-width: 500px;
        margin: 0;
        padding: 2%;
        box-sizing: border-box;
    }

    .restaurants {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        & div {
            width: 48%;
        }
    }

    .img-restaurant {
        height: 350px;
    }

    .menu .jaime {
        right: 5%;
    }

    .grille {
        &__selection {
            width: 48%;
        }
    }
}

//#endregion Tablette //

//#region Desktop //
@media screen and (min-width: 993px) {
    .intro {
        max-width: 400px;
    }

    .restaurants {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        & div {
            width: 22%;
            max-height: 400px;
            height: 380px;
            & img {
                height: 300px;
            }
        }
    }

    .img-restaurant {
        height: 400px;
        & img {
            height: 112%;
        }
    }

    .menu .jaime {
        right: 5%;
    }

    .grille {
        &__selection {
            width: 32%;
        }
    }
}

//#endregion Desktop //


